<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio</title>

</head>
<body>

  <header>
    <nav>
    <a href="/views">Inicio</a>
    <a href="/session/login">Login</a>
    <a href="/session/register">Registro</a>
    <a href="/session/logout">Logout</a>
    </nav>
  </header>
  
</body>
</html>
